<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <h2><%- title %></h2>
    <a href="/new">Add new message</a>
    <ul>
      <% messages.forEach(function(message) { %>
      <li>
        <%= message.username %> <br />
        <%= message.text %> <br />
        <%= message.added %><br />
      </li>
      <a href="/messages/<%= message.id %>">Open</a>
      <br />
      <br />
      <% }) %>
    </ul>
  </body>
</html>
